<!DOCTYPE html>

<nav class="flex h-fit w-full justify-center items-center shadow-md">
  <div class="flex justify-between w-[90%] items-center">

    <a href="/" class="text-2xl font-black">
      To-Do App
    </a>

    <div class="flex gap-4 items-end justify-center w-fit pt-2 pb-4">

      <a class="px-2 py-3 text-xl font-medium" href="/export">Export</a>
      <a class="px-5 py-4 text-3xl font-extrabold" href="/">My To-Dos</a>
      <a class="px-2 py-3 text-xl font-medium" href="/calander-view">Calander View</a>

    </div>

    <div>
      aaa
    </div>
  </div>
</nav>